<main>
<%= form_for @comment do |form| %>
  <%= form.hidden_field :user_id, value: @user.id %>
  <%= form.hidden_field :post_id, value: @post.id %>
  <%= form.label :body %>
  <%= form.text_field :body %>
  
  <%= form.submit "Submit" %>

<% end %>
</main>
