
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div>
  <%= form_for @user do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :image, 'Display Picture' %>
  <%= form.file_field :image %>
  <%= form.label :password %>

  <%= form.password_field :password, placeholder: "Enter 6 to 20 characters." %>
   <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit "Create User" %>
<% end %>
</div>
</body>
</html>


