
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>
<body>
<div class="container signupBox">
<h1 id="signupTitle">Sign Up</h1>    
    <div class="container signupLeft">
      <%= form_for @user, {class: "row g-3"} do |form|%>
      <%= form.text_field :name, class: "form-control col-md-6 signupEntry", placeholder: "Name"%>
      <%= form.text_field :email, class: "form-control col-md-6 signupEntry", placeholder: "Email Address" %>
      <%= form.password_field :password, class: "form-control col-md-6 signupEntry", placeholder: "Password" %>
      <%= form.password_field :password_confirmation, class: "form-control col-md-6 signupEntry", placeholder: "Re-confirm password"%>
      <br>
      <%= form.label :image, 'Display Picture' %>
      <%= form.file_field :image, class: "form-control col-md-6 signupEntry" %>
      <br>
    </div>
    <div class="container signupRight">
      <%= form.submit "Create User", class: "form-control col-md-2 btn btn-lg btn-primary signupButton"%>
      <% end %>
    </div>
</div> 
</body>
</html>


