<%= "#{@user.name}'s profile" %>
<p>
  <%if @user.image.attached? %>
    <%= image_tag @user.image, style: "width: 100px;" %>
  <%else%>
    <%= image_tag "default-image.jpeg", style: "width: 20px;" %>
  <%end%>
  <%= @user.nickname ? @user.nickname : @user.name %>
</p>


<%= button_to "Edit Profile", edit_user_path(@user.id), method: 'get' %>


<% @user.posts.each do |post| %>
  <p>
    <% user = User.find(post.user_id) %>
    <%if user.image.attached? %>
      <%= image_tag user.image, style: "width: 20px;" %>
    <%else%>
      <%= image_tag "default-image.jpeg", style: "width: 20px;" %>
    <%end%>
   <%= user.nickname ? user.nickname : user.name %>
  </p>
  <p><%= post.message %></p> <br>
  <div>
    <%if post.post_image.attached? %>
      <%= image_tag post.post_image, style: "width: 100px; height: 100px;" %>
    <%end%>
  </div>
   
  <% post.comments.each do |comment| %>
  <p><%= comment.body %></p>

<% end %>
  <div>
    <%= post.likes %> <%= post.likes == 1 ? "Like" : "Likes" %>
  </div>
  <br /> <br />
<% end %>