<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <main>
  <div class='container loginBox'>
    <div class="loginContents">
      <%= form_for(:session, url: login_path) do |form| %>
        <h1 id='loginTitle'>Sign in</h1>
          <%= form.text_field :email, class: "form-control loginEntry", id: "floatingInput", placeholder: "Email" %>
          <%= form.password_field :password, class: "form-control loginEntry", id: "floatingPassword", placeholder: "Password" %>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" id='remeberMeLabel'> Remember me
          </label>
          <%= form.submit "Login", class: "w-100 btn btn-lg btn-primary loginBtn" %>
        </div>
      <% end %>
      <div id='signUpButton'>
        Don't have an account? <%= link_to "Sign up", signup_path, {id: 'signUpLink'} %>
      </div>
    </div>
  </div>
  </main>

</body>
  

</html>