

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <main>
    <div class="position-absolute top-50 start-50 translate-middle">
      <%= form_for(:session, url: login_path) do |form| %>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating" >
          <%= form.text_field :email, class: "form-control", id: "floatingInput", placeholder: "Enter your email address" %>
        </div>
        <div class="form-floating">
          <%= form.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password"  %>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <%= form.submit "Login", class: "w-100 btn btn-lg btn-primary"%>
        </div>
      <% end %>
       <%= link_to "Sign up", signup_path, class: "w-100 btn btn-lg btn-primary"%>
    </div>
  </main>

</body>
  

</html>