

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%# <form action="/sessions/create" method="post">
    <label for="">Enter Email: </label>
    <input type="text"> <br>
    <label for="">Enter Password: </label>
    <input type="password"><br>
    <input type="submit" value="Login">
    </form> %>

<%= form_with(url: "login_path", scope: :session) do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Login"%>
<% end %>


    <br>
    <%= link_to "Sign up", signup_path %>
</body>
</html>