<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/42cdd50c56.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
<main>

<% @posts.each do |post| %>
<div class="post-feed container">

<div class="row">

  <p class="user-features">
  <div class="col-2">
    <% user = User.find(post.user_id) %>
    <% if user.image.attached? %>
      <%= image_tag user.image %>
    <% else %>
      <%= image_tag "default-image.jpeg" %>
    <% end %>
     </div>
    <div class="col-10">
   <p><b class="post-username"><%= user.nickname ? user.nickname : user.name %></b> <br> <span class="time-ago"><%= time_ago_in_words(post.created_at) %> ago</span></p>
    <%= link_to "delete", post, method: "delete", data: {confirm: "Are you sure?"} %>
    </div>
  </p>
</div>

<div class="caption-text row"><p><%= post.message %></p> <br></div> 

  <div class="row pic-image"> 
    <% if post.post_image.attached? %>
      <%= image_tag post.post_image %>
    <% end %>
  </div>

  <div class="like-and-comment-btn row">
    <div class="col-9">
      <%= link_to like_path(post.id), method: "put", class: "like-link" do %> 
        <i class="far fa-heart"></i><% end %>
      <%= link_to new_comment_path(post), class: "comment-link" do %>
        <i class="far fa-comment"></i>
      <% end %>
    </div>
      <div class="like-feat col-3">
      <%= post.likes %> <%= post.likes == 1 ? "like" : "likes" %>
       </div>
  </div>


   <div class="row">
   <% if post.comments.length > 2 %>
   <span class="view-all-com">View all <%= post.comments.length %> comments</span>
     <% post.comments.last(1).each do |comment| %>
      <p><b class="post-username"><%= user.nickname ? user.nickname : user.name %>  </b><%= comment.body %></p>
      <% end %>
   <% else %>
    <% post.comments.each do |comment| %>
    <p><b class="post-username"><%= user.nickname ? user.nickname : user.name %></b>  <%= comment.body %></p>
  <% end %>
<% end %>
</div>

  </div>
<% end %>
</main>
  
</body>
</html>
