
<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="/posts" class="close">&times;</a>
  </div>
<% end %>


<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%= link_to new_comment_path do %>
    New comment
  <% end %>
<% end %>


  <% @comments.each do |comment|%>
    <p><%= comment.body %></p>
  <% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
