<main>
<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p>
    <% user = User.find(post.user_id) %>
    <%if user.image.attached? %>
      <%= image_tag user.image, style: "width: 20px;" %>
    <%else%>
      <%= image_tag "default-image.jpeg", style: "width: 20px;" %>
    <%end%>
   <%= user.nickname ? user.nickname : user.name %>
  </p>
  <p><%= post.message %></p> <br>
  <div>
    <%if post.post_image.attached? %>
      <%= image_tag post.post_image, style: "width: 100px; height: 100px;" %>
    <%end%>
  </div>
   <%= link_to new_comment_path(post) do %>
    New comment
  <% end %>
  <% post.comments.each do |comment| %>
   <% comment_owner = User.find(comment.user_id) %>
   <p><%= comment.body %> 
    <%if comment_owner.image.attached? %>
        <%= image_tag comment_owner.image, style: "width: 20px;" %>
      <%else%>
        <%= image_tag "default-image.jpeg", style: "width: 20px;" %>
      <%end%>
        <%= comment_owner.nickname ? comment_owner.nickname : comment_owner.name %>
      <% end %>
    </p>
  <div>
    <%= button_to "Like", like_path(post.id), method: "put" %>
    <%= post.likes %> <%= post.likes == 1 ? "Like" : "Likes" %>
  </div>
  <br /> <br />
<% end %>
</main>